* {
	margin:0%;
}

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
	padding: 1% 0%;
	background-color: #2B2B2B;
}
.left ,.right{
	margin: 0% 5%;
	display: table;
}
.right i {
	margin-left: 10px;
	color:#FFFFFF;
	font-size:24px;
}
.left i {
	color:#979797;
	font-size:20px;
	font-size:16px;
	margin-right: 15px ;
}

.photo-bckg{
	background-image: url(img/school.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:550px;
	width:100vw;
}
.dark-block{
	display: inline-block;
	height:inherit;
	width:inherit;
	background-color:rgba(0,0,0,0.6);
}
.header{
	color:#FFFFFF;
	line-height: 45px;
	text-align: center;
	margin-top:10%;
}
.a a {
	z-index: 3;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	font-size:30px;
	width:80px;
	height:80px;
	color:#FFFFFF;
	border-radius: 100%;
	border:1px solid #3795F7;
	background-color: #3795F7;
	text-decoration: none;

}
.a i {
	display: flex;
	justify-content:center;
	margin-top: 25px;
}
.a{

	display: flex;
	justify-content:space-around;
	align-items:center;
	margin-bottom:50px;
}
.text-container {
	margin-top:-95px;
	margin-bottom: 10%;
	display:flex;
	justify-content:space-around;
	align-content:center;
	flex-wrap:wrap;

}
.name{
	color:#666873;
	margin-top: 50px;
	text-align: center;
	min-width: 50px;
	max-width: 200px;
}
.name p{
	margin-top: 10px;
	color:#969AB0;
}
.second-page{
	width: 100vw;
}


.about{
	display:flex;
	background-color: #F4FAFD;
	padding:3%;
}

.second-left{
	color:#666873;
	width:40%;
}
.second-left>h3{
	margin-bottom: 10px;
	color:#525461;
}
.second-right{
	position: relative;
	width:60%;
	height: 400px;
}
.photo1{
	position: absolute;
	top:10%;
	left:10%;
	z-index: 1;
	background-image: url(img/school.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	width: 30%;
	height:40%;
}
.photo2{
	position: absolute;
	top:30%;
	left:30%;
	z-index: 2;
	background-image: url(img/photo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	width: 30%;
	height:40%;
}

.head {
	color:#666873;
	width: 40%;
	line-height: 30px;
	margin:50px auto;
	text-align: center;
}

.third-page {
	margin:auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.block{
	margin:10px;
	padding:15px;
	width: 40%;
	border: 1px solid grey;

}
.round {
	margin-right: 5px;
	float:left;
	text-align: center;
	color: #F99D3A;
	font-size:30px;
	border:3px solid #F99D3A;
	width:50px;
	height: 50px;
	border-radius: 100%;
}
.round .fa{
	margin-top:10px;
}
.table h3{
	color:#F99D3A;
	margin-bottom: 10px;
}
.table{
	display:table;
	color:#969AB0;
}

.comment {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-wrap:wrap;
}
.table-2 {
	margin: 50px auto;
	display: table;
	color:#969AB0;
	border:1px solid #969AB0 ;
	width: 30%;
	height:350px;
	padding:10px;
	text-align: center;

}
.table-2 i{
	color:aqua;
	font-size:24px;
	margin:20px auto;
}


.table-2 p {
	width: 80%;
	margin: 0 auto;
}
.username {
	color:#666873;
	font-weight: 800;
}
.italic{
	font-style: italic;
	margin-top:15px;
}
.user{
	margin: 15px auto;
	background-image: url(img/jack.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.form-page{
	width: 100vw;
	background-image:url(img/form.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size:cover;
}

.middle{
	margin-top:20px;
	text-align: center;
}
.form-header{
	color:#FFFFFF;
	margin-bottom: 3%;

}
form {
	padding:30px;
	border:1px solid #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	width: 50%;
	margin: 0px auto;
	border-radius: 5px;
	font-size: 12px;
	margin-bottom: 30%;

}
.first-line {
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:center;
	margin-bottom: 15px;
}
.your-email , .your-name {
	width:45%;
	text-align: left;
}
.first-line input {
	width: 100%;
 	height: 30px;
	margin-top:5px;
	text-align: center;
	border-radius: 5px;
}
￼

.second-line {
	margin-bottom: 15px;
	text-align: left;
}

.second-line input{
	height: 30px;
	display: flex;
	justify-content:center;
	margin-top:5px;
	border-radius: 5px;
	width:100%;
}
.third-line {
	text-align: left;
	margin-bottom: 15px;
}
textarea {
	border-radius: 5px;
	margin-top:5px;
	width: 100%;
	height:100px;
}
.last-line {
	text-align: right;
}
.last-line button {
	padding:5px 10px;
	background-color: #3795F7;
	border-radius: 5px;
	border-color: #3795F7;
}
footer{
	width: 100vw;
	background-color: #FFFFFF;
}
footer p{
	text-align: center;
	margin:30px auto;
	color:#969AB0;
}


@media screen and (max-width: 500px){
	.second-right {
		display: none;
	}
	.second-left {
		width: 100%;
	}
	.user{
		display: none;
	}
	.first-line{
		display: table;
		width: 100%;
	}
	.your-email , .your-name {
		width:100%;
	} 
}