* {
	margin:0%;
}

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
	padding: 1% 0%;
	background-color: #2B2B2B;
}
.left ,.right{
	margin: 0% 5%;
	display: table;
}
.right i {
	margin-left: 10px;
	color:#FFFFFF;
	font-size:24px;
}
.left i {
	color:#979797;
	font-size:20px;
	font-size:16px;
	margin-right: 15px ;
}

.photo-bckg{
	background-image: url(img/school.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:550px;
	width:100vw;
}
.dark-block{
	position: relative;
	display: inline-block;
	height:100%;
	width:inherit;
	background-color:rgba(0,0,0,0.6);
}
.header{
	color:#FFFFFF;
	line-height: 45px;
	text-align: center;
	margin-top:10%;
}
.icon{
	bottom:-5%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content:space-around;
}
.icon a {
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	font-size:30px;
	width:80px;
	height:80px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#FFFFFF;
	border-radius: 100%;
	border:1px solid #3795F7;
	background-color: #3795F7;
	text-decoration: none;

}
.text-container {
	margin-bottom: 10%;
	display:flex;
	justify-content:space-around;
	align-content:center;

}
.name{
	color:#666873;
	margin-top: 50px;
	text-align: center;
	min-width: 50px;
	max-width: 200px;
}
.name p{
	margin-top: 10px;
	color:#969AB0;
}
.second-page{
	width: 100vw;
}


.about{
	display:flex;
	background-color: #F4FAFD;
	padding:3%;
}

.second-left{
	color:#666873;
	width:40%;
}
.second-left>h3{
	margin-bottom: 10px;
	color:#525461;
}
.second-right{
	position: relative;
	width:60%;
	height: 400px;
}
.photo1{
	position: absolute;
	top:10%;
	left:10%;
	z-index: 1;
	background-image: url(img/school.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	width: 30%;
	height:40%;
}
.photo2{
	position: absolute;
	top:30%;
	left:30%;
	z-index: 2;
	background-image: url(img/photo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
	width: 30%;
	height:40%;
}

.head {
	color:#666873;
	width: 40%;
	line-height: 30px;
	margin:70px auto;
	text-align: center;
}

.third-page {
	margin:auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}
.block{
	margin:10px;
	padding:15px;
	width: 40%;
	border: 1px solid grey;

}
.round {
	margin-right: 5px;
	float:left;
	text-align: center;
	color: #F99D3A;
	font-size:30px;
	border:3px solid #F99D3A;
	width:50px;
	height: 50px;
	border-radius: 100%;
}
.round .fa{
	margin-top:10px;
}
.table h3{
	color:#F99D3A;
	margin-bottom: 10px;
}
.table{
	display:table;
	color:#969AB0;
}

.fifth-page{
	display:flex;
	justify-content:space-around;
	align-content:center;
	flex-wrap:wrap;
	margin:auto;
}
.table-2 {
	color:#969AB0;
	border:1px solid #969AB0 ;
	width: 20%;
	padding:10px;
	text-align: center;

}
.table-2 i{
	color:aqua;
	font-size:24px;
	margin-bottom:20px;
}
.table-2>em {
	margin-top: 50px;
	width: 20%;
}

.table-2 p {
	width: 80%;
	margin: auto;
}
#username {
	color:#666873;
	font-weight: 800;
}
.user{
	margin: 15px auto;
	background-image: url(img/jack.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}


































@media screen and (max-width: 500px){
	.second-right {
		display: none;
	}
	.second-left {
		width: 100%;
	}
	.user{
		display: none;
	}
}
}