*{
    margin:0px;
    box-sizing:border-box;
}
.bgck-image {
    background-image: url(../img/photo1.png);
    background-size: cover;
    background-position: center;
}

.left-hand {
    font-weight: 300;
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 35px;
}

.left-hand span {
    color: #ffc100;
}

.dark-block {
    background-color: #000000;
    opacity: 0.6;
    height: inherit;
}

.bgck-image h1 {
    font-size: 70px;
    color: #f5efec;
    text-align: center;
}

.bgck-image span {
    color: #ffc100;
}

.arr {
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 5px 30px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 30px;
}

.bgck-image p {
    color: #FFFFFF;
    font-size: 20px;
}

.arr i {
    color: #ffffff;
    margin-top: 10px;
}
.block ol {
    display: table;
    width:300px;
    list-style-type: none;
    counter-reset: num; 
}
.block li::before {
    content: counter(num) '. ';
    counter-increment: num;
    font-size: 20px;
}
.block{
    border: 1px solid rgba(53, 52, 50, 0.3);
    height: 450px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}
h2 {
    margin:50px 0px;
    color: #1496d2;
    font-family: Roboto;
    font-size: 42px;
    text-transform: uppercase;
}
.image{
    position: relative;
}
.text{
    width: 90%;
    height:30px;
    transform: rotate(-5deg);
    text-transform: uppercase;
    text-align: center;
    background-color: #353432;
    color: #ffffff;
    position: absolute;
    bottom:20px;
    right:0px;
}
.text:hover{
    cursor: pointer;
    background-color: #1496d2;
    transform: rotate(5deg);
}
.page3{
    background-image: url(../img/photo2.png);
    background-size: cover;
    background-position: center;
    
}
.page3 h2{
    color:#ffc100;
    padding-top:40px;
}
.page3{
    color: #ffffff;
    font-family: Roboto;
}
.page3 .yellow{
    margin-top:-30px;
    margin-bottom: 30px;
    color:#ffc100;
}
.page3 ol {
    list-style-type:circle;
}
h3{
    margin:50px 0px;
    color: #1496d2;
    font-family: Roboto;
    font-size: 42px;
    text-transform: uppercase;
}
.page4{
    background-image: url(../img/page4.png);
    background-size: cover;
    background-position: center;  
}
.bckg-color{
    background-color: #1496d2;
    opacity: 0.6;
    height: inherit;

}
#img img:hover{
    transform: rotate(15deg);
}
.page4{
    color:#FFFFFF;
}
@media screen and (max-width:500px) {
    .header {
        font-size: 45px !important;
    }
}