* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Verdana';
}

.create-cv {
	background-image: url(img/photo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:100vh;
	width:100vw;
	display: inline-block;
}

.dark-block {
	background-color: rgba(0,0,0,0.6);
	height: inherit;
	width: inherit;
	}


.right {
	margin-top:20%;
	display: inline-block;
	float:left;
	width:60%;
	text-align: center;
	color: white;
}
.right p {
	color:#33ff33;
	text-align: left;
  	margin-bottom: 50px;
}
button{
	border-color:#00cc00;
	background-color: #00cc00;
	padding:10px 50px;
	border-radius: 12px;
	font-weight:bold;
	color:white;

}
button:hover{
	cursor: pointer;
	border-color:#006600;
	background-color:#006600;
}
.left {
	position: relative;
	margin-top:10%;
	display: inline-block;
	float:left;
	width:40%;
	height:50%;
}

.cv {
	position:absolute;
	background-image: url(img/images.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 30%;
	width: 40%;

}

#cv1 {
	z-index: 1;
	top:15%;
	left:10%;
}
#cv2 {
	z-index: 2;
	top:30%;
	left:20%;
}
#cv3 {
	z-index: 3;
	top:15%;
	left:30%;
}
#cv4 {
	z-index: 4;
	top:0%;
	left:20%;
}


.container{
	height:100vh;
	width:100vw;
	background-color: #F7F7F7;
}

.number{
	margin:5% 7%;
	display:inline-block;
}


.user {
	margin-bottom: 20px;
	background-color: #ECECEC;
	text-align: center;
	width:inherit;
	float:right;
}

.circle {
	float:right;
	border:3px solid #3F92F1;
	background-color: #FFFFFF;
	border-radius: 150px;
	width:150px;
	height:150px;
	margin-bottom: 20px;
}
.number:hover span , .number:hover .circle , .number:hover p{
	cursor: pointer;
	border-color:#E8A342;
	color:#E8A342;
}
.circle span {
	position: relative;
	top:55px;
	font-size:30px;
	font-weight:500;
	color:#3F92F1;
	font-family: sans-serif;
}
.number p{
	font-size:25px;
	font-weight:300;
	color:#3F92F1;
}
.pics{
	width:inherit;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;

}
img{
	margin:0px 45px;
	width:150px;
	height:150px;
	border:3px solid #E8A342;
	border-radius: 100%;

}
img:hover{
	cursor: pointer;
	background-color: #3F92F1;
	border-color:#3F92F1;
}
 @media screen and (max-width: 500px ){
 	.left{
 		display: none;
 	}
 	.right{
 		width: 100%;
 	}
 	 .number:last-child, .pics img:last-child , .pics img:first-child{
 	 	display: none;
 	 }
 	 .number {
 	 	margin:5% 2%;
 	 }
 	 img{
 	 	margin:0px 15px;
 	 	width:60px;
 	 	height:60px;
 	 }
 }

 @media screen and (max-width: 1024px) {
 	 .number:last-child,  img:last-child {
 	 		display: none;
 	 }
 }