* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Verdana';
}
.container{
	height:100%;
	width:1200px;
	margin:auto;
}

.create-cv {
	position:relative;
	background-image: url(img/photo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	margin: 0 auto;
}

.dark-block {
	background-color: rgba(0,0,0,0.8);
	height: 100vh;
	width: auto;
	}


.right {
	position: absolute;
	top:350px;
	right:200px;
	width:500px;
	height:75px;
	text-align: center;
	color: white;
}
.right p {
	color:#33ff33;
	text-align: left;
  	margin-bottom: 50px;
}
button{
	border-color:#00cc00;
	background-color: #00cc00;
	padding:10px 50px;
	border-radius: 12px;
	font-weight:bold;
	color:white;

}
button:hover{
	border-color:#006600;
	background-color:#006600;
}
.left {
	position: absolute;
	top:200px;
	left:50px;
	background-position: center;
	background-size: cover;
	height: 500px;
	width: 400px;
}

.cv {
	position:absolute;
	background-image: url(img/images.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 200px;
	width: 100px;

}

#cv1 {
	z-index: 1;
	top:100px;
	left:100px;
}
#cv2 {
	z-index: 2;
	top:200px;
	left:150px;
}
#cv3 {
	z-index: 3;
	top:150px;
	left:200px;
}
#cv4 {
	z-index: 4;
	top:50px;
	left:150px;
}

.number{
	margin:50px 120px;
	display: inline-block;
	text-align: center;
}


.user {
	background-color: #ECECEC;
	margin:auto;
	width:100%;
	height:300px;
	display: block;
}

.circle {

	float:right;
	border:3px solid #3F92F1;
	background-color: #FFFFFF;
	border-radius: 80px;
	width:150px;
	height:150px;
	margin-bottom: 20px;
}
.number:hover span , .number:hover .circle , .number:hover p{
	border-color:#E8A342;
	color:#E8A342;
}
.circle span {
	position: relative;
	top:55px;
	font-size:30px;
	font-weight:500;
	color:#3F92F1;
	font-family: sans-serif;
}
.number p{
	font-size:25px;
	font-weight:300;
	color:#3F92F1;
}
.pics{
	height:calc(100vh - 300px);
	background-color: #F7F7F7;
}
img{
	width:150px;
	height:150px;
	border:3px solid #E8A342;
	border-radius: 80px;

}
.top img{
	margin:100px 70px 0px 70px;
}
.bottom {
	width:750;
	text-align: center;
	margin:auto;
}
.bottom img:nth-child(2) {
	margin:0px 150px;

}
img:hover{
	background-color: #3F92F1;
	border-color:#3F92F1;
}
